<div>
    <section>
        <h2>Quienes Somos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta a vitae ducimus? Maiores beatae sit harum obcaecati vitae ut maxime, doloribus dolores nulla commodi deserunt impedit aperiam rerum accusantium dolorum?</p>
    </section>
    <hr>
    <section>
        <h2>Que Hacemos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta a vitae ducimus? Maiores beatae sit harum obcaecati vitae ut maxime, doloribus dolores nulla commodi deserunt impedit aperiam rerum accusantium dolorum?</p>
    </section>
    <hr>
    <section>
        <h2>Nuestro Compromiso</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta a vitae ducimus? Maiores beatae sit harum obcaecati vitae ut maxime, doloribus dolores nulla commodi deserunt impedit aperiam rerum accusantium dolorum?</p>
    </section>
</div>
