
<div class="nav nav-tabs" id="nav-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <a routerLink="/inicio" routerLinkActive="active-link" class="nav-link">Inicio</a>
    </li>
    
    
    <a routerLink="/nosotros" routerLinkActive="active-link" class="nav-link">Nosotros</a>
    <a routerLink="/contactenos" routerLinkActive="active-link" class="nav-link">Contactenos</a>
    <a routerLink="/publicaciones" routerLinkActive="active-link" class="nav-link">Publicaciones</a>
</div>
